.reveal-modal .info {
    padding: 2rem 1rem 0;
}
.reveal-modal .info .attribution {
    color: rgb(73, 85, 96);
    font-family: "Ubuntu";
    line-height: 75px;
}
.reveal-modal .info .attribution b {
    font-weight: 700;
}
.reveal-modal .info .avatar {
    border-radius: 50%;
    float: left;
    height: 75px;
    margin-right: 1rem;
    width: 75px;
    background: url('../img/avatars/avatar-sprite-n.jpg') no-repeat;
    background-size: 300%;
}
.reveal-modal .info .avatar3 {
    background-position: -75px 0px;
}
.reveal-modal .info .avatar4 {
    background-position: -150px 0px;
}
.reveal-modal .info .avatar5 {
    background-position: 0px -75px;
}
.reveal-modal .info .avatar6 {
    background-position: -75px -75px;
}
.reveal-modal .info .avatar7 {
    background-position: -150px -75px;
}
